/* 미디어 쿼리 추가 */
@media screen and (max-width: 768px) {
    .container {
        width: 85%; /* 컨테이너를 더 작은 너비로 조정 */
        margin: 50px auto; /* 중앙 정렬 유지 */
        padding: 15px;
    }

    .nav-links {
        display: none; /* 작은 화면에서 네비게이션 링크 숨김 */
    }

    nav ul li {
        display: none; /* 작은 화면에서 네비게이션 링크 숨김 */
    }

    .nav-links li {
        margin-right: 0; /* 작은 화면에서는 간격 제거 */
    }
    .login-image,
    .logincontent{
        display: none;
    }
    input[type="text"],
    input[type="password"],
    button{
        width: 100%;
    }
    .login-choice {
        display: flex;
        justify-content: space-between; /* 양옆으로 버튼 배치 */
        padding: 0;
        width: 100%; /* 전체 너비 사용 */
        box-sizing: border-box; /* 패딩 포함 너비 계산 */
    }

    .login-btn {
        display: inline-block;
        width: 48%; /* 버튼의 너비를 넓히고 버튼 간의 간격 조정 */
        padding: 15px;
        font-size: 12px;
        margin: 0; /* 버튼 간의 간격 없애기 */
    }
    .register-link{
        font-size: 14px;
    }
     /* 푸터 */
     .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    .footer_logo {
        margin: 0 auto 20px; /* 로고를 중앙으로 이동 */
    }

    .footer-text {
        margin: 0;
        text-align: center;
    }

    .footer-bottom p {
        font-size: 10px; /* 푸터 텍스트 크기 줄임 */
    }

}