/*nav css*/
header {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글씨색을 검은색으로 설정 */
    text-align: center;
    height: 70px; /* 헤더의 높이를 70px로 설정 */
    padding: 0;
    margin-bottom: 20px;
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #000000; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 10px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}

nav {
    display: flex;
    position: absolute; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 0px; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;

}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #000000; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: #F4F9FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 더 현대적인 글꼴 사용 */
}
.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px); /* 헤더 높이만큼 뺀 높이 설정 */
}

.sidebar {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 100px;
    left: 10px;
    margin-left: 10px;
    width: 200px;
    height: 50%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
}

.sidebar ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

#matching-management-button {
    margin-bottom: 20px; /* 매칭 리스트 버튼에 추가할 마진 */
    margin-left: 8px;
}



.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* 버튼 텍스트 색상 설정 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.sidebar button:hover {
    background-color: #4580F6; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
}

.vertical-line {
    border-left: 1px solid #ccc; /* 수직 선 스타일 지정 */
    height: 1px; /* 수직 선의 높이 */
    margin: 0 10px; /* 좌우 여백 지정 */
    margin-bottom: 20px;

}

.content {
    text-align: center;
    flex: 1;
    padding: 20px; /* 콘텐츠 영역에 여백 추가 */

}

/* 매칭 옵션 버튼들 숨기기 */
.matching-buttons {
    display: none;
    flex-direction: column;
}

.matching-buttons button {
    margin-top: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    text-align: left;


    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#matching-management-section,
#profile {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    max-width: 800px; /* 최대 너비 설정 */
}

.matching-heading {
    margin-left: 40px;
}

#matching-info {
    margin-top: 20px;

}

#matching-info h2 {
    font-size: 1.8rem; /* 폰트 크기 약간 확대 */
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
}

#matching-info ul {
    list-style: none;
    padding: 0;
}

#matching-info li {
    margin-bottom: 10px;
}

#matching-results {
    margin-top: 20px;
}

#matching-results .company {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
}

#matching-results .company h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

#matching-results .company p {
    margin: 0;
    color: #666;
    font-size: 1rem;
}

.card {
    border: 1px solid #e0e0e0; /* 더 연한 테두리 색상 */
    border-radius: 12px; /* 모서리를 더 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 더 부드러운 그림자 */
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 추가 */
}

.card:hover {
    transform: translateY(-5px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강화 */
}

.card-body {
    text-align: left;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666; /* 더 부드러운 텍스트 색상 */
}

.btn {
    margin-right: 10px;
}

.accept-match,
.reject-match {
    background: #4580F6;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}

.accept-match:hover,
.reject-match:hover {
    background-color: #356ac3; /* 호버 시 더 진한 배경색 */
}



/* 화면 폭이 작아질 때 카드 크기 조정 */
@media screen and (max-width: 768px) {
    .card {
        padding: 15px;
        width: 100%; /* 작은 화면에서는 카드가 전체 너비를 차지하도록 */
    }
}

/* 화면 폭이 매우 작아질 때 카드 크기 조정 */
@media screen and (max-width: 576px) {
    .card {
        padding: 10px;
    }
}


/* footer */
footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 10px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
    position: relative; /* 푸터를 고정시킴 */
    bottom: 0; /* 화면 하단에 배치 */
    width: 100%; /* 너비를 100%로 설정하여 전체 폭을 차지하도록 함 */
    margin-top: 550px;
}


.footer-content {
    display: flex;
    justify-content: flex-start; 
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
}


.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-right: auto;
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 15px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
    font-weight: normal;
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
    text-align: left;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}

.footer-bottom {
    text-align: left;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer-bottom p {
    display: inline-block; /* p 요소를 블록 레벨에서 인라인 레벨로 변경하여 두 개씩 나눠서 표시 */
    margin: 5px; /* 각 텍스트 사이의 간격 설정 */
    width: 50%; /* 부모 요소의 절반만큼 너비를 가짐 */
    vertical-align: top; /* 상단 정렬 */
    justify-content: space-between; /* 좌우 여백을 최대로 설정 */
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}