/*nav css*/
header {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글씨색을 검은색으로 설정 */
    text-align: center;
    height: 70px; /* 헤더의 높이를 70px로 설정 */
    padding: 0;
    margin-bottom: 20px;
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #000000; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 10px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}

nav {
    display: flex;
    position: absolute; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 10%; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;

}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #000000; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: #F4F9FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 더 현대적인 글꼴 사용 */
}
.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px); /* 헤더 높이만큼 뺀 높이 설정 */
}

.sidebar {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    top: 100px;
    left: 10px;
    margin-left: 10px;
    width: 200px;
    height: 50%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

#matching-management-button {
    margin-bottom: 20px; /* 매칭 리스트 버튼에 추가할 마진 */
    margin-left: 8px;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* 버튼 텍스트 색상 설정 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

#matching-management-button:hover{
    background-color: #4580F6; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
    cursor: pointer;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333; /* 버튼 텍스트 색상 설정 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.sidebar button:hover {
    background-color: #4580F6; /* 호버 시 배경색 변경 */
    color: #fff; /* 호버 시 텍스트 색상 변경 */
}

.vertical-line {
    border-left: 1px solid #ccc; /* 수직 선 스타일 지정 */
    height: 1px; /* 수직 선의 높이 */
    margin: 0 10px; /* 좌우 여백 지정 */
    margin-bottom: 20px;
}

.content {
    text-align: center;
    flex: 1;
    padding: 20px; /* 콘텐츠 영역에 여백 추가 */
}

.status-accepted {
    background-color: #4580F6; /* 파란색 배경 */
    color: #ffffff; /* 하얀 글씨 */
    padding: 5px 10px; /* 여백 추가 */
    border-radius: 5px; /* 모서리를 둥글게 */
    display: inline-block; /* 인라인 블록으로 설정 */
}

.status-pending {
    background-color: #e0e0e0; /* 회색 배경 */
    color: #000000; /* 검정 글씨 */
    padding: 5px 10px; /* 여백 추가 */
    border-radius: 5px; /* 모서리를 둥글게 */
    display: inline-block; /* 인라인 블록으로 설정 */
}

.phone-info {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666; /* 더 부드러운 텍스트 색상 */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

/* 매칭 옵션 버튼들 숨기기 */
.matching-buttons {
    display: none;
    flex-direction: column;
}

.matching-buttons button {
    margin-top: 5px;
    width: calc(100% - 20px);
    margin-left: 10px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#matching-management-section,
#profile {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    max-width: 800px; /* 최대 너비 설정 */
}

.matching-heading {
    text-align: center;
}

#matching-info {
    margin-top: 20px;

}

#matching-info h2 {
    font-size: 1.8rem; /* 폰트 크기 약간 확대 */
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
}

#matching-info ul {
    list-style: none;
    padding: 0;
}

#matching-info li {
    margin-bottom: 10px;
}

#matching-results {
    margin-top: 20px;
}

#matching-results .company {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
}

#matching-results .company h3 {
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold;
}

#matching-results .company p {
    margin: 0;
    color: #666;
    font-size: 1rem;
}

.card {
    border: 1px solid #e0e0e0; /* 더 연한 테두리 색상 */
    border-radius: 12px; /* 모서리를 더 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 더 부드러운 그림자 */
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: #ffffff;
    transition: transform 0.3s, box-shadow 0.3s; /* 부드러운 전환 효과 추가 */
}

.card:hover {
    transform: translateY(-5px); /* 호버 시 약간 위로 이동 */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 강화 */
}

.card-body {
    text-align: left;
}

.card-title {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666; /* 더 부드러운 텍스트 색상 */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.btn {
    margin-right: 10px;
}
.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

.status-indicator.approved {
    background-color: green;
    color: white;
}
.accept-match,
.reject-match {
    background: #4580F6;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s; /* 부드러운 전환 효과 추가 */
}

.accept-match:hover,
.reject-match:hover {
    background-color: #356ac3; /* 호버 시 더 진한 배경색 */
}






/* 화면 폭이 매우 작아질 때 카드 크기 조정 */
@media screen and (max-width: 576px) {
.card {
        padding: 10px;
    }
}

.modal {
    display: none; /* 기본적으로 숨김 */
    visibility: hidden; /* 모달이 번쩍이지 않도록 숨김 */
    position: absolute; /* 화면 전체에 표시 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소들보다 위에 표시 */
}
/* 모달을 열 때 visibility를 visible로 변경 */
.modal.show {
    display: flex;
    visibility: visible;
}
/* 비밀번호 입력 폼 스타일 */
.modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 600px;
    position: relative;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.modal-content label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

.modal-content input[type="password"] {
    width: calc(100% - 20px); /* 줄어든 너비 */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

.modal-content button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* 라벨과 입력 필드를 같은 행에 배치 */

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    width: 150px; /* 라벨 너비 */
    margin-right: 10px; /* 라벨과 입력 필드 사이 간격 */
    font-weight: 500;
    color: #555;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
    flex: 1; /* 입력 필드가 가능한 한 최대 너비를 차지하게 함 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    color: #333;
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

/* 텍스트 영역 스타일 */
form textarea {
    height: 100px;
    resize: vertical; /* 수직으로만 크기 조절 가능 */
}

/* 버튼 스타일 */
form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}



#password-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

#password-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

#password-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #555;
}

#password-form input[type="password"] {
    width: calc(100% - 20px); /* 줄어든 너비 */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
}

#password-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s, transform 0.2s;
}

#password-form button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

/* 회원 정보 수정 섹션 스타일 */
#profile-section {
    display: none; /* 기본적으로 숨김 */
    background-color: #fff;
    padding: 20px;
    margin-left: 40px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 회사 및 계약자 필드 스타일 */
#company-fields, #contractor-fields {
    margin-bottom: 20px;
}

/* 회사 정보 필드 스타일 */
#company-fields label {
    display: inline-block;
    width: 150px; /* 적절한 너비로 조정 */
}

/* 계약자 정보 필드 스타일 */
#contractor-fields label {
    display: inline-block;
    width: 150px; /* 적절한 너비로 조정 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    section {
        padding: 15px;
    }
    
    form input[type="text"],
    form input[type="password"],
    form textarea {
        padding: 8px;
    }
    
    form button {
        width: 100%;
        padding: 10px;
    }
}
/* footer */
footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 10px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
    position: relative; /* 푸터를 고정시킴 */
    bottom: 0; /* 화면 하단에 배치 */
    width: 100%; /* 너비를 100%로 설정하여 전체 폭을 차지하도록 함 */
    margin-top: 550px;
}


.footer-content {
    display: flex;
    justify-content: flex-start; 
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
}


.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-right: auto;
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 15px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
    font-weight: normal;
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
    text-align: left;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}
.footer-bottom {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer_logo {
    width: 200px; /* 원하는 너비로 조절 */
    height: auto; /* 비율을 유지하면서 높이를 자동 조절 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px; /* 텍스트와의 간격 조절 */
    margin-left: 100px;
}

.footer-text {
    margin-left: auto; /* 나머지 공간을 차지하여 오른쪽 끝으로 이동 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    margin-right: 100px;
}

.footer-bottom p {
    margin: 5px 0; /* 각 텍스트 사이의 간격 설정 */
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    font-size: 12px;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}