/*nav css*/
header {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글씨색을 검은색으로 설정 */
    text-align: center;
    height: 70px; /* 헤더의 높이를 70px로 설정 */
    padding: 0;
    margin-bottom: 20px;
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #000000; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 10px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}

nav {
    display: flex;
    position: fixed; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 0px; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;

}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #000000; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}

body {
    margin: 0; /* body의 기본 여백 제거 */
    padding: 0; /* body의 기본 패딩 제거 */
    background-color: #f0f5ff; /* 페이지 배경색 설정 */
    display: flex; /* flex 컨테이너로 설정하여 footer bottom을 포함 */
    flex-direction: column; /* 요소들을 세로로 배치 */
    min-height: 100vh; /* 최소한의 화면 높이 설정 */
}

.sidebar {
    position: absolute; /* 페이지 내에서 고정 위치 설정 */
    top: 100px; /* 상단으로부터 50px 아래에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */
    margin-left: 10px;
    width: 150px; /* 사이드바의 너비 설정 */
    height: 50%; /* 화면의 높이만큼 설정하여 세로로 길게 만듦 */
    background-color: white; /* 배경색 지정 */
    padding: 20px; /* 내부 여백 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비와 높이 지정 */

}

.sidebar ul {
    list-style-type: none; /* 목록의 기본 스타일 제거 */
    padding: 0; /* 목록의 패딩 제거 */
    margin: 0; /* 목록의 마진 제거 */
}

.sidebar button {
    display: block; /* 버튼을 블록 레벨 요소로 설정하여 세로로 배치 */
    width: 100%; /* 버튼의 너비를 사이드바 너비에 맞춤 */
    padding: 10px; /* 버튼의 패딩 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    border: none; /* 테두리 제거 */
    background-color: transparent; /* 배경색 투명으로 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
}

.content {
    text-align: center; /* 내용을 가운데 정렬 */
}

#matching-management-section,
#profile {
    display: inline-block; /* 요소를 가로로 배열하기 위해 인라인 블록 요소로 설정 */
    margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
    text-align: left; /* 내용을 왼쪽 정렬 */
}



/* 매칭 현황 섹션 스타일 */
#matching-info {
    margin-top: 20px;
}

#matching-info h2 {
    font-size: 1.5rem;
}

#matching-info ul {
    list-style: none;
    padding: 0;
}

#matching-info li {
    margin-bottom: 10px;
}

/* 매칭 결과 스타일 */
#matching-results {
    margin-top: 20px;
}

#matching-results .company {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

#matching-results .company h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

#matching-results .company p {
    margin: 0;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block; /* 인라인 블록 요소로 설정하여 가로로 정렬 */
    margin: 10px; /* 카드 간 간격 설정 */
    width: 300px; /* 카드의 너비 설정 */
    background-color: #ffffff; /* 흰색 배경색으로 설정 */
    border-radius: 8px; /* 카드의 테두리를 둥글게 설정 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 화면 폭이 작아질 때 카드 크기 조정 */
@media screen and (max-width: 768px) {
    .card {
        padding: 15px; /* 내부 여백 줄이기 */
    }
}

/* 화면 폭이 매우 작아질 때 카드 크기 조정 */
@media screen and (max-width: 576px) {
    .card {
        padding: 10px; /* 내부 여백 더 줄이기 */
    }
}



.card-body {
    text-align: left;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
}

.accept-match {
    background: #4580F6; /* 배경색 */
    color: #ffffff; /* 흰색 텍스트 색상으로 설정 */
    border-radius: 20px; /* 둥글게 만들기 */
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 버튼 안의 여백 조절 */
}

.reject-match {
    background: #4580F6; /* 배경색 */
    color: #ffffff; /* 흰색 텍스트 색상으로 설정 */
    border-radius: 20px; /* 둥글게 만들기 */
    border: none; /* 테두리 제거 */
    padding: 10px 20px; /* 버튼 안의 여백 조절 */
}

/* footer */
footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 10px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
    position: absolute; /* 푸터를 고정시킴 */
    bottom: 0; /* 화면 하단에 배치 */
    width: 100%; /* 너비를 100%로 설정하여 전체 폭을 차지하도록 함 */
}

.container {
    margin-bottom: 10px; /* footer의 높이 + 여분 여백 */
    z-index: 0; /* container가 footer 아래에 위치하도록 설정 */
}


.footer-content {
    display: flex;
    justify-content: flex-start; 
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
}


.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-right: auto;
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 15px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
    font-weight: normal;
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
    text-align: left;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}

.footer-bottom {
    text-align: left;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer-bottom p {
    display: inline-block; /* p 요소를 블록 레벨에서 인라인 레벨로 변경하여 두 개씩 나눠서 표시 */
    margin: 5px; /* 각 텍스트 사이의 간격 설정 */
    width: 50%; /* 부모 요소의 절반만큼 너비를 가짐 */
    vertical-align: top; /* 상단 정렬 */
    justify-content: space-between; /* 좌우 여백을 최대로 설정 */
}



a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}