@media screen and (min-width:100px) and (max-width: 786px){
    header {
        height: 30vh; /* 화면의 40%만큼 높이 설정 */
        position: relative  ;
    }
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* 로고 텍스트 크기와 위치를 조정합니다 */
    .outfind {
        font-size: 16px;
        top: 10px;
        left: 10px;
    }
    
    /* 헤더 텍스트 레이아웃을 조정합니다 */
    .header-text {
        margin-left: 10px;      
    }
    
    /* 각 헤더 텍스트의 크기와 여백을 조정합니다 */
    .h1-first {
        font-size: 12px;
        margin-bottom: 40px;
    }
    
    .h1-outfind {
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .h1-second {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    /* 소개 텍스트의 크기를 조정합니다 */
    .intro {
        font-size: 20px;
    }
    
    /* 소개 텍스트의 부가적인 정보를 조정합니다 */
    .intro2 {
        font-size: 14px;
    }
    
    /* 이미지 간격을 조정합니다 */
    .introimg {
        display: flex; /* flexbox 사용 */
        flex-direction: column; /* 세로 방향으로 배치 */
        align-items: center; /* 중앙 정렬 */
        margin-top: 20px;
    }

    .image-container {
        width: 90%; /* 전체 너비 사용 */
        max-width: 400px; /* 최대 너비 설정 */
        margin: 10px 0; /* 상하 여백 추가 */
        position: relative; /* 텍스트를 이미지 위에 배치하기 위해 필요 */
        overflow: hidden; /* 이미지가 컨테이너 밖으로 나가지 않도록 설정 */
        height: auto; /* 높이 자동 설정 */
        padding-top: 75%; /* 비율 유지, 예를 들어 4:3 비율을 원할 경우 */
        box-sizing: border-box; /* 패딩 포함하여 크기 설정 */
        transition: opacity 1s ease-out, transform 1s ease-out; /* 부드러운 애니메이션 설정 */
    }

    .image-container.show {
        opacity: 1; /* 애니메이션 후에 이미지를 보이게 설정 */
        transform: translateY(0); /* 애니메이션 후에 이미지를 원래 위치로 이동 */
    }

    .image-container img {
        position: absolute; /* 이미지 위치 설정 */
        top: 0;
        left: 0;
        width: 100%; /* 이미지 너비를 컨테이너에 맞게 조정 */
        height: 100%; /* 이미지 높이를 컨테이너에 맞게 조정 */
        object-fit: cover; /* 이미지 비율 유지 */
        opacity: 0.7; /* 이미지의 투명도 설정 */
        transition: filter 0.5s ease, opacity 0.5s ease; /* 호버 시 효과를 부드럽게 적용하기 위한 transition */
    }

    .image-container:hover img,
    .image-container:focus img {
        filter: brightness(50%); /* 호버 시 이미지의 밝기를 줄여 어둡게 만듭니다 */
        opacity: 0.8; /* 호버 시 이미지의 투명도를 줄여 더욱 선명하게 보이도록 설정 */
    }

    .image-text {
        position: absolute;
        top: 50%; /* 이미지 중앙에 위치하도록 설정 */
        left: 50%;
        transform: translate(-50%, -50%); /* 중앙 정렬 조정 */
        text-align: center; /* 텍스트를 가운데 정렬하기 위해 */
        color: black; /* 텍스트 색상 설정 */
        width: 90%; /* 텍스트 컨테이너 너비 설정 */
        padding: 10px; /* 텍스트 패딩 설정 */
        transition: opacity 0.5s ease; /* 호버 시 텍스트가 부드럽게 나타나도록 설정 */
    }

    .image-container:hover .big-text,
    .image-container:focus .big-text {
        opacity: 0; /* 호버 시 큰 텍스트 숨기기 */
    }

    .image-container:hover .small-text,
    .image-container:focus .small-text {
        opacity: 1; /* 호버 시 작은 텍스트 보이기 */
    }

    .big-text {
        font-size: 24px; /* 큰 텍스트 폰트 크기 조정 */
        font-weight: bold; /* 볼드 처리 */
        margin-bottom: 5px; /* 큰 텍스트 아래에 여백 추가 */
        opacity: 1; /* 기본적으로 큰 텍스트 보이기 */
        transition: opacity 0.5s ease; /* 부드러운 전환 효과 */
    }

    .small-text {
        font-size: 16px; /* 작은 텍스트 폰트 크기 조정 */
        line-height: 1.4; /* 줄 간격 설정 */
        margin-top: 5px; /* 작은 텍스트 위에 여백 추가 */
        opacity: 0; /* 기본적으로 작은 텍스트 숨기기 */
        transition: opacity 0.5s ease; /* 부드러운 전환 효과 */
    }

/*모달*/
.modal {
    display: flex;
    width: 90vw; /* 화면 너비의 90%로 설정 */
    max-width: 100%; /* 최대 너비 100%로 설정 */
    max-height: 85vh; /* 최대 높이 90% 뷰포트 높이로 설정 */
    height: 65vh;
    padding: 15px; /* 패딩 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 */
    position: fixed; /* 화면에 고정된 위치 */
    top: 50%; /* 화면 상단에서 중앙으로 위치 */
    left: 50%; /* 화면 왼쪽에서 중앙으로 위치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 10000; /* 다른 요소 위에 보이도록 설정 */
    background-color: #fff; /* 모달 배경색 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    justify-content: center;
    align-items: center;
}

/* 모달 내용 스타일 */
.modal_body {
    width: 100%; /* 화면 너비의 100%로 설정 */
    height: 65vh;
    max-height: 85vh; /* 최대 높이 80% 뷰포트 높이로 설정 */
    margin-top: auto;
    top: 50%;
    justify-content: center; 
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
}
.modal_body2 {
    width: 90%; /* 화면 너비의 100%로 설정 */
    height: 82vh;
    max-height: 82vh; /* 최대 높이 80% 뷰포트 높이로 설정 */
    margin-top: auto;
    top: 50%;
    justify-content: center; 
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기 계산 */
}


.modal h1, .modal2 h1{
margin-top: 3vh;
}
#form1 {
    margin-top: 7vh; /* 원하는 값으로 변경 */
}
#form2{
    margin-top: 4vh;
}

.input-container input {
    font-size: 14px; /* 입력 필드 글꼴 크기 조정 */
}

.close-button, .next-button {
    padding: 10px 20px; /* 버튼 패딩 조정 */
    font-size: 14px; /* 버튼 글꼴 크기 조정 */
}

.separator {
    margin: 10px 0; /* 구분선 여백 조정 */
}



/* 모바일 버전의 네비게이션 및 버튼 스타일 */


.match-button {
    width: 20vw; /* 버튼의 너비 */
    height: 7vw; /* 버튼의 높이 */
    color: #FFF; /* 텍스트 색상 */
    font-size: 3vw; /* 폰트 크기 */
    font-weight: 550; /* 폰트 굵기 */
    flex-shrink: 0; /* Flex 컨테이너에서 축소되지 않도록 설정 */
    background: #4580F6; /* 배경색 */
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20); /* 그림자 효과 */
    border: none; /* 테두리 없애기 */
    position: absolute; /* 이미지 내부에 위치를 고정 */
    bottom: 20%; /* 아래로부터 20px 떨어진 위치에 배치 */
    right: 10%; /* 오른쪽으로부터 10px 떨어진 위치에 배치 */
    left: auto; /* 왼쪽 위치 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 전환 효과 추가 */
}
/* 모바일 버전에서 숨겨질 스타일 */
.goodcompany {
    display: none; /* 모바일에서는 .goodcompany 요소를 숨깁니다. */
}

.goodcontainer,
.text-container,
.card-container2,
.companygood,
.companygoodtext,
.benefit-card,
.hrimage-container,
.centered-image,
.speech-bubble {
    display: none; /* 모바일에서는 모든 요소를 숨깁니다. */
}

.footer-content {
    flex-direction: column; /* 푸터 섹션을 세로로 배치 */
    align-items: center; /* 중앙 정렬 */

}

.footer-section {
    text-align: center; /* 푸터 섹션 텍스트 중앙 정렬 */
    margin: 10px 0; /* 섹션 간격 조정 */
}

.footer-section h2 {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
    text-align: left;
}

.footer-bottom {
    flex-direction: column; /* 푸터 하단을 세로로 배치 */
    align-items: center; /* 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.footer_logo {
    margin: 0 auto 10px; /* 로고를 중앙 정렬하고 아래에 여백 추가 */
}

.footer-text {
    margin: 10px auto; /* 중앙 정렬 및 상하 여백 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
  
.card-container {
    flex-direction: column; /* 세로 방향으로 카드 배치 */
    align-items: center; /* 카드가 가운데로 정렬되도록 설정 */
}

.card {
    width: calc(80% - 20px); /* 카드의 너비를 100%로 설정하고 여백을 고려하여 조정 */
    margin: 10px 0; /* 카드 간의 간격을 조정 */
}

.company-info {
    font-size: 13px; /* 작은 화면에 맞게 글꼴 크기 조정 */
}
.divider {
    top: auto;
    bottom: 35%;
}

.industry,
.location {
    position: relative;
    top: auto;
    left: auto;
    margin: 5px 0;
}


.introduction {
    font-size: 15px; /* 작은 화면에 맞게 폰트 크기 조정 */
}

.long-introduction {
    font-size: 13px; /* 작은 화면에 맞게 폰트 크기 조정 */
}

.match-apply-button {
    margin: 15px 0; /* 버튼의 간격을 줄임 */
    padding: 12px; /* 버튼의 패딩을 조정 */
}
.card3 {
    width: calc(100% - 20px); /* 카드의 너비를 100%로 설정하고 여백을 고려하여 조정 */
    margin: 10px 0; /* 카드 간의 간격을 조정 */
}

.companyoutfind h4 {
    font-size: 20px; /* 작은 화면에 맞게 제목 크기 조정 */
    margin-bottom: 15px; /* 간격 조정 */
}

.card3-content p {
    font-size: 14px; /* 작은 화면에 맞게 폰트 크기 조정 */
}

}



