body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('./image/mainpageimage.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 90vh;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    overflow: hidden; /* 자식 요소가 부모 요소를 벗어나는 것을 숨김 */
}


.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #fff; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}


/* nav */
nav {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 600px;
}

.nav-links li {
    margin-right: 10px;
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|";
    margin-left: 20px;
}

.nav-links li:last-child a::after {
    content: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* 햄버거 메뉴 */
.mobile-header {
    display: none; /* 기본적으로 모바일 헤더 숨김 */
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none; /* 기본적으로 햄버거 메뉴 숨김 */
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}
.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px; /* 닫기 버튼과 사용자 링크 간의 간격 */
}
.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 사이드바 헤더와 내용 간의 간격 */
}
.sidebar .outfind2 {
    font-size: 18px;
    font-weight: 600;
    color: black; /* Desired color */
    display: flex;
    align-items: center; /* Vertically center-align text */
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}
.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* 사이드바의 오른쪽 끝을 화면의 오른쪽 끝과 맞추기 */
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(24, 24, 24, 0.5);
    transition: transform 0.4s ease, opacity 0.4s ease; /* 애니메이션 속성 */
    transform: translateX(100%); /* 사이드바를 화면 오른쪽으로 이동 */
    opacity: 0; /* 사이드바 초기 상태는 투명 */
    z-index: 10000;
    padding: 20px;
    flex-direction: column;
}

/* 사이드바 활성화 시 오른쪽에서 화면 안으로 들어옴 */
.sidebar.active {
    transform: translateX(0); /* 사이드바가 화면 안으로 이동 */
    opacity: 1; /* 사이드바가 불투명해짐 */
}

.sidebar-close {
    position: relative;
    color: #666;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: right 0.4s ease; /* 애니메이션 속성: right값 변화에 애니메이션 부여 */
    z-index: 10003; /* 닫기 버튼이 항상 클릭될 수 있도록 z-index를 높게 설정 */
}



/* 네비게이션 링크 */
.sidebar .nav-links,
.sidebar .user-links {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

/* 링크 항목 */
.sidebar .nav-links li,
.sidebar .user-links li {
    margin-bottom: 15px; /* 각 항목 간의 간격 */
}

/* 링크 스타일 */
.sidebar .nav-links a,
.sidebar .user-links a {
    color: #007bff; /* 브랜드 색상 또는 블루 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 16px; /* 적당한 폰트 사이즈 */
    font-weight: 500; /* 가벼운 굵기 */
    display: block; /* 블록으로 변경하여 클릭 영역 확대 */
    transition: color 0.3s ease; /* 색상 변경 애니메이션 */
}

.sidebar .nav-links a:hover,
.sidebar .user-links a:hover {
    color: #0056b3; /* 호버 시 색상 변경 */
}

/* 로그인, 회원가입 등의 버튼 스타일 */
.sidebar .user-links .login-link a,
.sidebar .user-links .signup-link a,
.sidebar .user-links .mypage-link a,
.sidebar .user-links .logout-link a{
    background-color: #f4f4f4;
    color: #666; /* 버튼 텍스트 색상 */
    padding: 10px 15px; /* 버튼 패딩 */
    border-radius: 5px; /* 둥근 모서리 */
    text-align: center;
    display: block;
    font-weight: 600;
}
.sidebar-match-button {
    margin-top: auto; /* 버튼을 사이드바 하단에 위치하도록 설정 */
    padding: 15px; /* 버튼 내부 여백 */
    background-color: #007bff; /* 버튼 배경 색상 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
}

.sidebar-match-button a {
    color: #fff; /* 버튼 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 16px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 굵기 */
    display: block; /* 버튼 영역 전체를 클릭 가능하게 */
}

.sidebar-match-button a:hover {
    background-color: #0056b3; /* 호버 시 버튼 배경 색상 변경 */
    color: #fff; /* 호버 시 버튼 텍스트 색상 유지 */
}
.sidebar .user-links .login-link a:hover,
.sidebar .user-links .signup-link a:hover,
.sidebar .user-links .mypage-link a:hover,
.sidebar .user-links .logout-link a:hover{
    background-color: #ddd; /* 버튼 호버 색상 */
}
.sidebar .nav-links a{
        display: block;
        color: #333;
        text-decoration: none;
        padding: 10px 0;
}
.sidebar .nav-links a:hover{
    background-color: #ddd;
}

.sidebar-close {
    position: absolute; /* 절대 위치 지정 */
    top: 20px; /* 상단에서 20px 떨어진 위치 */
    right: 20px; /* 오른쪽에서 20px 떨어진 위치 */
    font-size: 32px; /* 버튼의 글자 크기 조정 */
    color: #000; /* 버튼의 글자 색상 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
    z-index: 10001; /* 사이드바보다 위에 배치되도록 z-index 조정 */
    transition: color 0.3s; /* 글자 색상 전환 효과 */
}

.sidebar-close:hover {
    color: #666; /* 마우스 오버 시 색상 변경 */
}
/* 모바일 스타일 */
@media (max-width: 768px) {
    .mobile-header {
        display: flex; /* 모바일 헤더 표시 */
        padding: 10px 20px;
    }
    .outfind {
        display: none;
    }
    .sidebar {
        display: block; /* 모바일 화면에서는 사이드바 표시 */
        right: 0; /* 사이드바가 화면 끝에 맞춰짐 */
        transform: translateX(100%); /* 사이드바를 화면 오른쪽으로 이동 */
    }
    .sidebar .nav-links{
        margin-top: 30px;
    }

    .hamburger-menu {
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: 40px;
    }
    .outfind2 {
        color: #000;
        font-family: 'Noto SansKR', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    header .nav-links,
    header .user-links {
        display: none; /* 기본적으로 숨김 */
    }
    .sidebar .nav-links,
    .sidebar .user-links {
        display: block; /* 모바일에서 사이드바 내의 링크 표시 */
    }

    /* 사이드바가 활성화되었을 때만 보이도록 설정 */
    .sidebar.active .nav-links,
    .sidebar.active .user-links {
        display: block; /* 사이드바가 활성화되면 표시 */
    }
  
}

@media screen and (max-width: 1420px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}
@media (min-width: 769px) {
    .mobile-header {
        display: none; /* 데스크탑 해상도에서 모바일 헤더 숨김 */
    }
    .sidebar {
        display: none; /* 데스크탑 화면에서는 사이드바 숨김 */
    }
}

.user-links {
    margin-left: auto;
}

.user-links li {
    margin-left: 0;
    margin-right: 0;
}

.user-links li a {
    text-decoration: none;
    color: #fff;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    height: 100%;
    opacity: 0; /* 애니메이션 전에 텍스트를 보이지 않게 설정 */
    transform: translateY(-100px); /* 애니메이션 전에 텍스트를 위로 이동 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.header-text.show {
    opacity: 1; /* 애니메이션 후에 텍스트를 보이게 설정 */
    transform: translateY(0); /* 애니메이션 후에 텍스트를 원래 위치로 이동 */
}

.h1-first {
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */
    font-size: 1.5vw; /* 첫 번째 텍스트의 크기 설정 */
    font-weight: 300; /* 첫 번째 텍스트의 굵기 설정 */
    color: #fff; /* 첫 번째 텍스트의 색상 설정 */
    margin-bottom: 40px; /* 첫 번째 텍스트 아래 여백 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    
}

.h1-outfind {
    font-family: 'Noto Sans KR', serif; /* 두 번째 텍스트의 글꼴 설정 */
    font-size: 4vw; /* 두 번째 텍스트의 크기 설정 */
    font-weight: bold; /* 두 번째 텍스트의 굵기 설정 */
    color: #FFF; /* 두 번째 텍스트의 색상 설정 */
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.h1-second {
    font-family: 'Noto Sans KR', sans-serif; /* 세 번째 텍스트의 글꼴 설정 */
    font-size: 2vw; /* 세 번째 텍스트의 크기 설정 */
    font-weight: 300; /* 세 번째 텍스트의 굵기 설정 */
    color: #fff; /* 세 번째 텍스트의 색상 설정 */
    margin-top: 0px; /* 세 번째 텍스트 위 여백 설정 */
    margin-bottom: 80px;
    text-align: left; /* 텍스트를 왼쪽 정렬 */

}

/* 텍스트 스타일 */
.text {
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.intro {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Noto Sans KR',sans-serif;
}

.intro2 {
    font-size: 24px;
    color: gray;
    text-align: center;
    font-family: 'Noto Sans KR',sans-serif;
    font-weight: bold;
}.text {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card.show {
    opacity: 1; /* 애니메이션 후 투명도를 1로 설정 */
    transform: translateY(0); /* 원래 위치로 이동 */
}
.introimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.introimg img {
    margin: 0 10px; /* 이미지 간격 조절 */
    object-fit: cover; /* 이미지 비율 유지 */
}



.image-container {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    overflow: hidden;
    opacity: 0; /* 애니메이션 전에 이미지를 보이지 않게 설정 */
    transform: translateY(100px); /* 애니메이션 전에 이미지를 아래로 이동 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.image-container.show {
    opacity: 1; /* 애니메이션 후에 이미지를 보이게 설정 */
    transform: translateY(0); /* 애니메이션 후에 이미지를 원래 위치로 이동 */
}


.image-container img {
    opacity: 0.5; /* 이미지의 투명도 설정 */
    transition: filter 0.3s ease; /* 호버 시 효과를 부드럽게 적용하기 위한 transition */
}

.image-container:hover img {
    filter: brightness(30%); /* 호버 시 이미지의 밝기를 줄여 어둡게 만듭니다 */
}



.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 이미지 중앙에 위치하도록 설정 */
    text-align: center; /* 텍스트를 가운데 정렬하기 위해 */
    color: black; /* 텍스트 색상 설정 */
    transition: color 0.3s ease; /* 색상 변화에 애니메이션 효과 적용 */
}

.image-container:hover .image-text {
    color: white; /* 호버 시 텍스트 색상을 검은색으로 조정 */
    transition: color 0.3s ease; /* 색상 변화에 애니메이션 효과 적용 */
}

.big-text {
    font-size: 36px; /* 큰 텍스트 크기 */
    font-weight: bold; /* 굵은 글씨체 */
    margin-bottom: 10px; /* 큰 텍스트 아래에 여백 추가 */
}

.small-text {
    font-size: 18px; /* 작은 텍스트 크기 */
    margin-top: 10px; /* 작은 텍스트 위에 여백 추가 */
}

--------------

/* 모달 기본 스타일 */

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
    z-index: 10000; /* 다른 요소 위에 보이도록 함 */
    background-color: #fff; /* 모달 배경 색상 */
    padding: 20px; /* 모달 내부 여백 */
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15); /* 모달 그림자 */
    border-radius: 5px; /* 모달 모서리 둥글게 */
    text-align: left; /* 텍스트 정렬 */
    color: #000; /* 텍스트 색상 */
    max-width: 90%; /* 모달 최대 너비 */
    max-height: 90%; /* 모달 최대 높이 */
    overflow-y: auto; /* 내용이 모달 높이를 초과할 경우 스크롤 표시 */
}



.modal_body {
    display: block;
    position: absolute; /* 모달 내용을 고정시킴 */
    top: 30%; /* 화면 상단에서 절반 위치 */
    left: 50%; /* 화면 왼쪽에서 절반 위치 */
    transform: translate(-50%, -50%); /* 수평 및 수직으로 중앙 정렬 */
    width: 600px;
    height: 400px;
    max-height: 80%; /* 모달의 최대 높이 설정 */
    overflow-y: auto; /* 내용이 모달 높이를 초과하는 경우 스크롤바 표시 */
    background-color: #fff; /* 내용의 배경색 */
    padding: 20px; /* 내용 주위의 여백 */
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border-radius: 5px; /* 모서리를 둥글게 만듦 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    color: #000; /* 글자 색을 검정색으로 설정 */
    z-index: 10000;
    margin-top: 40px;
}
.modal, .modal2 {
    display: none; /* 초기 상태에서 모달을 숨김 */
}

.modal h1 {
    font-family: 'Noto Sans KR',sans-serif;
}

.separator {
    background-color: rgba(0, 0, 0, 0.1); /* 연한색의 줄 배경색 */
    height: 1px; /* 줄의 높이 */
    margin: 20px 0; /* 위아래 여백 설정 */
}


/* 추가적인 스타일 */
.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    font-family: 'Noto Sans KR',sans-serif;
}

.input-container input:focus {
    border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 포커스 효과 제거 */
}

.input-container input::placeholder {
    color: #aaa; /* 플레이스홀더 색상 지정 */
}

.input-container input[type="submit"] {
    background-color: #007bff; /* 입력 버튼 배경 색상 */
    color: #fff; /* 입력 버튼 텍스트 색상 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.input-container input[type="submit"]:hover {
    background-color: #0056b3; /* 마우스 호버 시 색상 변경 */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff; /* 파란색 */
    color: #fff; /* 흰색 글씨 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.close-button:hover {
    background-color: #0056b3; /* 마우스 호버 시 색상 변경 */
}

.next-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* 마우스 오버 효과 */
.next-button:hover, .close-button:hover {
    background-color: #0056b3;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은 배경 */
    z-index: 9998; /* 모달 백드롭을 모달보다 아래로 배치 */
    display: none; /* 일단 숨김 */
}



.modal_body2 {
    display: block;
    position: fixed; /* 모달 내용을 고정시킴 */
    top: 30%; /* 화면 상단에서 절반 위치 */
    left: 50%; /* 화면 왼쪽에서 절반 위치 */
    transform: translate(-50%, -50%); /* 수평 및 수직으로 중앙 정렬 */
    width: 600px;
    height: 600px;
    max-height: 120%; /* 모달의 최대 높이 설정 */
    max-width: 120%;
    overflow-y: auto; /* 내용이 모달 높이를 초과하는 경우 스크롤바 표시 */
    background-color: #fff; /* 내용의 배경색 */
    padding: 20px; /* 내용 주위의 여백 */
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    border-radius: 5px; /* 모서리를 둥글게 만듦 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    color: #000; /* 글자 색을 검정색으로 설정 */
    z-index: 10000;
    margin: auto;
    margin-top: 120px;
}

.modal2 h2 {
    margin-top: 0;
    font-size: 24px;
}

.modal2 form {
    margin-top: 20px;
}

.modal2 .form-group {
    margin-bottom: 15px;
}

.modal2 label {
    display: block;
    font-weight: bold;
}

.modal2 input[type="text"],
.modal2 input[type="number"],
.modal2 select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
    outline: none; /* 기본 포커스 효과 제거 */
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical; /* 세로 방향으로만 크기 조절 가능 */
    box-sizing: border-box;
    font-family: 'Noto Sans KR',sans-serif;
}


.close-button2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff; /* 파란색 */
    color: #fff; /* 흰색 글씨 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.close-button2:hover {
    background-color: #0056b3; /* 마우스 호버 시 색상 변경 */
}

.modal2 button[type="submit"]:hover {
    background-color: #0056b3; /* 마우스 오버 시 제출 버튼 배경색 */
}

.modal2 button[type="submit"]{
    display: block;
    width: calc(50% - 5px); /* 버튼의 폭을 50%로 설정하고 간격을 추가 */
    padding: 8px; /* 작은 패딩 설정 */
    font-size: 14px; /* 작은 폰트 크기 설정 */
    margin-top: 10px; /* 버튼 간격 조정 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: right; /* 제출 버튼을 오른쪽으로 정렬 */
    background-color: #007bff; /* 제출 버튼 배경색 */
    margin-bottom: 30px;
}

.modal2 .previous-button {
    display: block;
    width: calc(50% - 5px); /* 버튼의 폭을 50%로 설정하고 간격을 추가 */
    padding: 8px; /* 작은 패딩 설정 */
    font-size: 14px; /* 작은 폰트 크기 설정 */
    margin-top: 10px; /* 버튼 간격 조정 */
    background-color: green; /* 버튼 배경색 설정 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    float: left; /* 이전 버튼을 왼쪽으로 정렬 */
    margin-right: 10px; /* 이전 버튼과 제출 버튼 사이의 간격 조정 */
    margin-bottom: 30px;
}

.match-button {
    width: 15vw; /* 버튼의 너비 */
    height: 4vw; /* 버튼의 높이 */
    color: #FFF; /* 텍스트 색상 */
    font-size: 2vw; /* 폰트 크기 */
    font-weight: 550; /* 폰트 굵기 */
    flex-shrink: 0; /* Flex 컨테이너에서 축소되지 않도록 설정 */
    background: #4580F6; /* 배경색 */
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20); /* 그림자 효과 */
    border: none; /* 테두리 없애기 */
    position: absolute; /* 이미지 내부에 위치를 고정 */
    bottom: 20%; /* 아래로부터 20% 떨어진 위치에 배치 */
    left: 50px; /* 왼쪽으로부터 50px 떨어진 위치에 배치 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    opacity: 0; /* 애니메이션 전에 버튼을 보이지 않게 설정 */
    transform: translateX(-100px); /* 애니메이션 전에 버튼을 왼쪽으로 이동 */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* 애니메이션 전환 효과 */
}

.match-button.show {
    opacity: 1; /* 애니메이션 후에 버튼을 보이게 설정 */
    transform: translateX(0); /* 애니메이션 후에 버튼을 원래 위치로 이동 */
}

.match-button:hover {
    background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
}

#main-content{
    padding: 0px;
}

.goodcompany{
    background-color: #0099c6;
    margin-bottom: 0px;
    height: 100px;
    margin-top: 100px;
    padding: 0;
    position: relative;

}
    
.goodcompanytext{
    color: white;
    text-align: center;
    font-family:  'Noto Sans KR',sans-serif;
    display: flex;
    justify-content: center; /* 텍스트를 수평으로 가운데 정렬합니다. */
    align-items: center; /* 텍스트를 수직으로 가운데 정렬합니다. */
    height: 100%; /* 부모 요소의 높이를 기준으로 텍스트를 수직 가운데에 위치시킵니다. */
    font-weight: bold;
    font-size: 24px;   
    margin: 0;
}


.match-button2 {
    width: 15vw; /* 버튼의 너비 */
    height: 3vw; /* 버튼의 높이 */
    color: #FFF; /* 텍스트 색상 */
    font-size: 2vw; /* 폰트 크기 */
    font-weight: 550; /* 폰트 굵기 */
    flex-shrink: 0; /* Flex 컨테이너에서 축소되지 않도록 설정 */
    background: #4580F6; /* 배경색 */
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20); /* 그림자 효과 */
    border: none; /* 테두리 없애기 */
    cursor: pointer; /* 마우스 오버 시 커서 모양 변경 */
    transition: background-color 0.3s; /* 배경색 전환 효과 추가 */
    position: absolute;
    left: 80%;
    margin-top: 1%;
    top: 30%; /* 세로 중앙 정렬을 위해 top 속성 사용 */
    transform: translateY(-50%); /* 버튼의 높이의 반만큼 위로 이동시킵니다. */
}


.match-button2:hover {
    background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
}

.goodcontainer {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #989898;
    display: flex;
    flex-direction: row; /* 가로 방향으로 배치 */
    justify-content: space-between; /* 요소들을 좌우에 정렬 */
    align-items: flex-start; /* 아이템들을 위쪽 정렬 */
}

.text-container {
    flex: 0 0 calc(50% - 10px); /* 반응형 크기 조절 */
    max-width: 350px;
    width: 100px;
    margin-left: 50px;
    
}

.card-container2 {
    flex: 0 0 calc(50% - 10px); /* 반응형 크기 조절 */
    max-width: 350px;
    margin-right: 100px;
}

.intro3{
    background-color: #F4F9FD;
    margin-bottom: 40px;
}
.companyoutfind{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 38px;
    font-family: 'Noto Sans KR',sans-serif;
}

.card-container {
    display: flex; /* Flexbox를 사용하여 요소들을 정렬 */
    flex-wrap: wrap; /* 자식 요소들이 넘칠 경우 줄 바꿈 */
    gap: 20px; /* 카드 간의 간격 조정 */
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start; /* 요소 사이의 여백을 최대한 넓힙니다. */

}

.card3 {
    border-radius: 15px;
    overflow: hidden;
    width: 400px; /* 카드의 너비를 원하는 대로 조정 */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    margin: 20px auto; /* 중앙 정렬 */
    background-color: white; /* 배경색 */
    display: flex;
    flex-direction: column;
    opacity: 0; /* 초기에는 투명도 0으로 설정 */
    transform: translateY(20px); /* 초기 위치에서 아래로 20px 이동 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out; /* 애니메이션 트랜지션 추가 */
}

.card3.show {
    opacity: 1; /* 애니메이션 후 투명도를 1로 설정 */
    transform: translateY(0); /* 원래 위치로 이동 */
}

.card3:hover {
    transform: translateY(-5px); /* 살짝 위로 이동 */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 더 강한 그림자 효과 */
}

.card-image3 {
    width: 100%;
    height: 150px; /* 원하는 높이로 조정 */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image3 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 카드의 크기에 맞도록 조절 */
}

.card3-content {
    padding: 20px;
    text-align: center; /* 텍스트 중앙 정렬 */
    background-color: white; /* 배경색 */
    flex-grow: 1;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */
}

.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    margin-right: 5px;
}

.status-indicator.approved {
    background-color: green;
    color: white;
}
--------------


footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 50px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 정렬 */
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}

.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 18px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}
.footer-bottom {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer_logo {
    width: 200px; /* 원하는 너비로 조절 */
    height: auto; /* 비율을 유지하면서 높이를 자동 조절 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px; /* 텍스트와의 간격 조절 */
    margin-left: 100px;
}

.footer-text {
    margin-left: auto; /* 나머지 공간을 차지하여 오른쪽 끝으로 이동 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    margin-right: 100px;
}

.footer-bottom p {
    margin: 5px 0; /* 각 텍스트 사이의 간격 설정 */
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    font-size: 12px;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}
/* 매칭 카드 */
/* 기업 정보 카드 스타일 */
.card-container {
    display: flex; /* Flexbox를 사용하여 요소들을 정렬 */
    flex-wrap: wrap; /* 자식 요소들이 넘칠 경우 줄 바꿈 */
    gap: 20px; /* 카드 간의 간격 조정 */
    margin-left: 10px;
    margin-right: 10px;
    justify-content: flex-start; /* 요소 사이의 여백을 최대한 넓힙니다. */

}

.card {
    /* 카드 스타일 설정 */
    position: relative; /* 상대 위치 설정 */
    width: calc(20% - 20px); /* 카드의 너비를 20%로 설정하고 간격을 고려하여 조정합니다. */
    margin: 10px; /* 카드 간의 간격을 조정합니다. */
    height: 350px;
    border: 1px solid #ccc; /* 카드 테두리 설정 */
    border-radius: 5px; /* 카드 테두리의 둥근 정도 설정 */
    padding: 10px; /* 카드 안의 콘텐츠와 테두리 간의 간격을 조정합니다. */
    box-sizing: border-box; /* padding과 border를 박스 크기에 포함합니다. */
    background-color: #f9f9f9; /* 카드 배경색 설정 */
    overflow: auto; /* 또는 overflow: scroll; */
    margin-left: 10px;   
    animation: fadeIn 0.5s ease-in-out; /* fadeIn 애니메이션을 0.5초 동안 적용 */
    animation-fill-mode: forwards; /* 애니메이션이 끝난 후 상태를 유지 */
    opacity: 0; /* 초기에는 투명도 0으로 설정 */
    transform: translateY(20px); /* 초기 위치에서 아래로 20px 이동 */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* 애니메이션 트랜지션 추가 */
}

/* 첫 번째 줄의 카드를 왼쪽으로 이동 */
.card:nth-child(-n+2) {
    margin-left: 0; /* 첫 번째 줄의 카드들에 대해 왼쪽 여백을 제거합니다. */
}

/* 두 번째 줄의 카드를 가운데 정렬 */
.card:nth-child(n+3) {
    margin-left: auto; /* 두 번째 줄의 카드들에 대해 왼쪽 여백을 자동으로 설정하여 가운데 정렬합니다. */
    margin-right: auto; /* 두 번째 줄의 카드들에 대해 오른쪽 여백을 자동으로 설정하여 가운데 정렬합니다. */
}



.company-info {
    font-size: 14px; /* 글꼴 크기 설정 */
    font-weight: bold; /* 굵은 글꼴 설정 */
    margin-bottom: 5px; /* 아래 여백 설정 */
}


.divider {
    /* 구분선 스타일 설정 */
    position: absolute; /* 절대 위치 설정 */
    top: 55%; /* 카드의 중간에 위치 */
    left: 0; /* 왼쪽에 위치 */
    width: 100%; /* 가로 길이를 카드의 전체 너비로 설정 */
    height: 1px; /* 선의 높이 */
    background-color: #ccc; /* 구분선 색상 */
    transform: translateY(-50%); /* 세로 가운데 정렬 */
}
.industry {
    position: absolute; /* 절대 위치 설정 */
    top: 60%; /* 카드의 중간에서부터 위치 */
    left: 10px; /* 왼쪽 여백 설정 */
    margin-bottom: 5px; /* 아래 여백 설정 */
}

.sub-industry {
    position: absolute;
    top: 70%; /* 카드의 중간에서부터 위치 */
    left: 10px; /* 왼쪽 여백 설정 */
    margin-bottom: 5px; /* 아래 여백 설정 */
}

.location {
    position: absolute; /* 절대 위치 설정 */
    top: 80%; /* 카드의 중간에서부터 위치 */
    left: 10px; /* 왼쪽 여백 설정 */
}

.introduction {
    font-size: 15px; /* 기업 소개 글씨 크기 */
    text-align: center; /* 가운데 정렬합니다. */
}
.introduction-content {
    display: inline-block; /* 내용을 가운데 정렬합니다. */
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666; /* 더 부드러운 텍스트 색상 */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.status-indicator {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%; /* 원형으로 만들기 */
    background-color: gray; /* 기본 배경색 */
    color: white;
    text-align: center;
    line-height: 20px; /* 세로 가운데 정렬 */
    font-weight: bold;
}

.status-indicator.approved {
    background-color: green; /* 승인된 상태의 배경색 */
}

/* CSS 코드 */
.long-introduction {
    font-size: 14px; /* 긴 소개 글씨 크기 */
    font-weight: normal; /* 긴 소개 글씨 굵기 일반으로 설정 */
    line-height: 1.5; /* 줄 간격 설정 */
}
.contractor_name {
    font-size: 20px; /* 글꼴 크기 설정 */
    font-weight: bold; /* 굵은 글꼴 설정 */
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 10px; /* 아래 여백 설정 */
}


/* 매칭 신청 버튼 스타일 */
.match-apply-button {
    display: block;
    margin-top: 70px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
}

.match-apply-button {
    /* 매칭하기 버튼 스타일 설정 */
    position: absolute; /* 절대 위치 설정 */
    bottom: 10px; /* 아래에서 10px만큼 떨어진 위치에 배치 */
    right: 10px; /* 오른쪽에서 10px만큼 떨어진 위치에 배치 */
}

.match-apply-button:hover {
    background-color: #0056b3;
}

.match-apply-button.matching {
    background-color: green; /* 매칭 중일 때 배경색을 오렌지로 변경 */
    color: #fff; /* 텍스트 색상을 흰색으로 변경 */
    cursor: default; /* 클릭 비활성화로 인해 커서 모양 변경 */
}