
/*nav*/
header {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글씨색을 검은색으로 설정 */
    text-align: center;
    height: 70px; /* 헤더의 높이를 70px로 설정 */
    padding: 0;
    margin-bottom: 20px;
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #000000; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 10px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}

nav {
    display: flex;
    position: absolute; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 20px; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;
}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #000000; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

body {
    margin: 0; /* body의 기본 여백 제거 */
    padding: 0; /* body의 기본 패딩 제거 */
    background-color: #f0f5ff; /* 페이지 배경색 설정 */

    flex-direction: column; /* 요소들을 세로로 배치 */
    min-height: auto; /* 최소한의 화면 높이 설정 */
}
.login-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px; /* 최대 너비 설정 */

    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    
}
.image-container{
    max-width: 560px;
    margin-right: 50px;
}
.logincontent{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 28px;
}

.login-image {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-image img {
    width: 800px; /* 원하는 너비로 조정 */
    
    height: auto;
    border-radius: 10px;
}
.container {
    flex: 1;
    
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-right: 0;
    margin-left: 0;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4580F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.signup-choice {
    text-align: center;
    margin-bottom: 20px;
}

.signup-btn {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 0 10px; /* 버튼 간격 조정 */
}
.business-number-input {
    align-items: center;
    display: flex;
    justify-content: flex-end; /* 요소들을 오른쪽으로 정렬 */
}

.business-number-input input[type="text"] {
    flex: 1;
    margin-right: 5px;
}

.business-number-input button {
    width: auto;
    display: inline-block;
}


.company-email-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.company-email-input input[type="text"] {
    flex: 1; /* 남은 공간을 모두 채우도록 설정 */
    margin-right: 5px;
}

#company-email-check-button{
    width: auto;
    display: inline-block;}


@media screen and (max-width: 1200px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}

#contractor-signup-form {
    display: none;
}

#contractor-signup-form.active {
    display: block;
}

#contractor-signup-form .form-group {
    margin-bottom: 20px;
}

#contractor-signup-form label {
    display: block;
    margin-bottom: 5px;
}

#contractor-signup-form input[type="text"],
#contractor-signup-form input[type="password"],
#contractor-signup-form textarea,
#contractor-signup-form select {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#contractor-signup-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4580F6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contractor-signup-form button[type="submit"]:hover {
    background-color: #0056b3;
}

#contractor-signup-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contractor-signup-form select:focus {
    outline: none;
}

#contractor-signup-form .signup-choice {
    text-align: center;
}

#contractor-signup-form .signup-btn {
    display: inline-block;
    width: 150px;
    padding: 10px;
    margin: 0 10px;
}

#contractor-signup-form .business-number-input {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

#contractor-signup-form .business-number-input input[type="text"] {
    flex: 1;
    margin-right: 5px;
}

#contractor-signup-form .business-number-input button {
    width: auto;
    display: flex;
};

.contractor-email-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.contractor-email-input input[type="text"] {
    flex: 1; /* 가능한 너비를 차지하도록 함 */
    margin-right: 5px;

}

#contractor-email-check-button {
    width: auto;
    margin-top: 10px;
    display: inline-block;
}
/* 약관 동의 레이아웃 조정 */
/* 약관 동의 레이아웃 조정 */       /* CSS 스타일 */
  /* CSS 스타일 */

  .agree-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: transparent;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 80px;
}

.agree-button:hover {
    text-decoration: none;
    background-color: transparent;
}

.popup {
    display: none;
    position: relative;
    z-index: 1000;
    width: 500px;
    border: 1px solid #888;
    background-color: #fefefe9a;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px
    ;}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.popup-content {
    color: gray;
    max-height: 200px; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
    font-size: 10px;
}

.close {
    color: #aaa;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#agreement-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 52%;
}

.agreement-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}


#company-signup-form input[type="checkbox"]:checked + .terms-label:before,
#contractor-signup-form input[type="checkbox"]:checked + .terms-label:before {
    background-color: #007bff;
    border-color: #007bff;
}

#company-signup-form input[type="checkbox"]:checked + .terms-label::after,
#contractor-signup-form input[type="checkbox"]:checked + .terms-label::after {
    display: block;
}

button[type="submit"]:disabled {
    background-color: #ccc; /* 회색 배경색 */
    color: #666; /* 회색 글자색 */
    cursor: not-allowed; /* 포인터 변경 */
}
#contractor-signup-form button[type='submit']:disabled {
    background-color: #ccc; /* 회색 배경색 */
    color: #666; /* 회색 글자색 */
    cursor: not-allowed; /* 포인터 변경 */
}
select {
    display: block;
    width: 100%;
    max-width: 300px; /* 최대 너비 설정 */
    padding: 10px; /* 내부 여백 */
    margin: 10px 0; /* 외부 여백 */
    font-size: 16px; /* 글자 크기 */
    font-family: 'Noto Sans KR', sans-serif; /* 폰트 설정 */
    line-height: 1.5; /* 줄 간격 */
    color: #333; /* 글자 색 */
    background-color: #fff; /* 배경 색 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 모서리 둥글게 */
    -webkit-appearance: none; /* 기본 스타일 제거 (크롬, 사파리) */
    -moz-appearance: none; /* 기본 스타일 제거 (파이어폭스) */
    appearance: none; /* 기본 스타일 제거 */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray"><path d="M4 6l4 4 4-4z"/></svg>'); /* 화살표 아이콘 */
    background-repeat: no-repeat; /* 아이콘 반복 방지 */
    background-position: right 10px center; /* 아이콘 위치 */
    background-size: 12px 12px; /* 아이콘 크기 */
}

select:focus {
    border-color: #007bff; /* 포커스 시 테두리 색 변경 */
    outline: none; /* 포커스 시 아웃라인 제거 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 포커스 시 그림자 효과 */
}

/* footer */
footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 10px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
    position: relative; /* 푸터를 고정시킴 */
    bottom: 0; /* 화면 하단에 배치 */
    width: 100%; /* 너비를 100%로 설정하여 전체 폭을 차지하도록 함 */
    margin-top: 100px;
}

.container {
    margin-bottom: 10px; /* footer의 높이 + 여분 여백 */
    z-index: 0; /* container가 footer 아래에 위치하도록 설정 */
}


.footer-content {
    display: flex;
    justify-content: flex-start; 
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
}


.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-right: auto;
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 15px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
    font-weight: normal;
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
    text-align: left;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}

.footer-bottom {
    text-align: left;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer-bottom p {
    display: inline-block; /* p 요소를 블록 레벨에서 인라인 레벨로 변경하여 두 개씩 나눠서 표시 */
    margin: 5px; /* 각 텍스트 사이의 간격 설정 */
    width: 50%; /* 부모 요소의 절반만큼 너비를 가짐 */
    vertical-align: top; /* 상단 정렬 */
    justify-content: space-between; /* 좌우 여백을 최대로 설정 */
}



a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}