body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../image/mainpageimage.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: 80vh;
    padding: 0;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden; /* 자식 요소가 부모 요소를 벗어나는 것을 숨김 */
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #fff; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
    z-index: 5;
}


.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    height: 100%;
    opacity: 0; /* 애니메이션 전에 텍스트를 보이지 않게 설정 */
    transform: translateY(-100px); /* 애니메이션 전에 텍스트를 위로 이동 */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.header-text.show {
    opacity: 1; /* 애니메이션 후에 텍스트를 보이게 설정 */
    transform: translateY(0); /* 애니메이션 후에 텍스트를 원래 위치로 이동 */
}

.h1-first {
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */
    font-size: 1.5vw; /* 첫 번째 텍스트의 크기 설정 */
    font-weight: 300; /* 첫 번째 텍스트의 굵기 설정 */
    color: #fff; /* 첫 번째 텍스트의 색상 설정 */
    margin-bottom: 40px; /* 첫 번째 텍스트 아래 여백 설정 */
    text-align: left; /* 텍스트를 왼쪽 정렬 */
    
}

.h1-outfind {
    font-family: 'Noto Sans KR', serif; /* 두 번째 텍스트의 글꼴 설정 */
    font-size: 4vw; /* 두 번째 텍스트의 크기 설정 */
    font-weight: bold; /* 두 번째 텍스트의 굵기 설정 */
    color: #FFF; /* 두 번째 텍스트의 색상 설정 */
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.h1-second {
    font-family: 'Noto Sans KR', sans-serif; /* 세 번째 텍스트의 글꼴 설정 */
    font-size: 2vw; /* 세 번째 텍스트의 크기 설정 */
    font-weight: 300; /* 세 번째 텍스트의 굵기 설정 */
    color: #fff; /* 세 번째 텍스트의 색상 설정 */
    margin-top: 0px; /* 세 번째 텍스트 위 여백 설정 */
    margin-bottom: 80px;
    text-align: left; /* 텍스트를 왼쪽 정렬 */

}


/*nav*/
nav {
    display: flex;
    position: absolute; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 20px; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
    z-index: 5;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;
   
}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #fff; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

@media screen and (max-width: 1420px) {
    .nav-links {
        
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}

.user-links {
    margin-left: auto; /* 사용자 링크를 오른쪽으로 이동하여 로그인 및 회원가입이 오른쪽에 위치하도록 함 */
}

.user-links li {
    margin-left: 0px; /* 각 항목 사이의 간격 설정 */
    margin-right: 0px;
}

.user-links li a {
    text-decoration: none; /* 링크 텍스트의 밑줄 제거 */
    color: #fff; /* 링크 텍스트 색상 */
}
.container {
    display: flex;
    flex-direction: row; /* 가로 정렬 */
    justify-content: center; /* 공간을 양쪽으로 나누어 배치 */
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    top: 30%;
    position: relative;
    height: 80%;
    max-width: 80%; /* 컨테이너의 최대 너비 설정 */
    max-height: 70%;
}

.headline {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2em;
    margin: 0;
    color: white;
    z-index: 2;
    text-align: right; /* 텍스트를 오른쪽 정렬 */
    flex-basis: 45%; /* headline이 차지할 너비 비율 */
    position: relative; /* 서브텍스트를 정확히 배치하기 위해 필요 */
}

.headline .highlight {
    color: white;
    display: inline-block;
    transition: color 0.3s ease;
    animation: colorChange 2.5s forwards; /* 하이라이트 애니메이션 */
}
.subtext-wrapper {
    flex-basis: 45%;
    bottom: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1; /* 부모보다 낮은 z-index */
    position: relative;
    align-self: flex-end;

    /* 애니메이션 적용 */
    animation: drawBox 4s forwards ease-in-out;
}

.subtext {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5em;
    color: white;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    position: relative; /* 위치를 고정하여 애니메이션의 영향을 받지 않도록 설정 */
}

@keyframes drawBox {
    0% {
        border-top: 3px solid transparent; /* 초기 테두리 없음 */
        border-right: 3px solid transparent; /* 초기 테두리 없음 */
        border-bottom: 3px solid transparent; /* 초기 테두리 없음 */
        border-left: 3px solid transparent; /* 초기 테두리 없음 */
    }
    25% {
        border-top: 3px solid #00d8ff; /* 위쪽 변 그리기 */
    }
    50% {
        border-top: 3px solid #00d8ff; /* 위쪽 변 유지 */
        border-right: 3px solid #00d8ff; /* 오른쪽 변 그리기 */
    }
    75% {
        border-top: 3px solid #00d8ff; /* 위쪽 변 유지 */
        border-right: 3px solid #00d8ff; /* 오른쪽 변 유지 */
        border-bottom: 3px solid #00d8ff; /* 아래쪽 변 그리기 */
    }
    100% {
        border-top: 3px solid #00d8ff; /* 위쪽 변 유지 */
        border-right: 3px solid #00d8ff; /* 오른쪽 변 유지 */
        border-bottom: 3px solid #00d8ff; /* 아래쪽 변 유지 */
        border-left: 3px solid #00d8ff; /* 왼쪽 변 그리기 */
    }
}
@keyframes colorChange {
    0% {
        color: white; /* 초기 색상 */
    }
    100% {
        color: #00d8ff; /* 애니메이션 완료 후 색상 */
    }
}

/* 매치 섹션 스타일링 */
.match-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: white; /* 배경색을 흰색으로 설정 */
    position: relative;
    height: 100%;
}

.match-container {
    margin-left: 40px;
    max-width: 600px;
    z-index: 2; /* 이미지보다 앞에 오도록 설정 */
}

.match-title {
    font-size: 2.5em;
    font-weight: bold;
    color: #0066ff; /* 제목 색상 설정 */
    margin-bottom: 20px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */    

}

.match-description {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333; /* 본문 색상 설정 */
    margin-bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */    
}

.apply-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #0066ff;
    background-color: white;
    border: 2px solid #0066ff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.apply-button:hover {
    background-color: #0066ff;
    color: white;
}

/* 로고 이미지 스타일링 */
.logo3 {
    margin-right: 40px;
    max-width: 50%;
    height: auto;
    z-index: 1; /* 텍스트 및 버튼보다 뒤에 위치 */
    object-fit: contain;
    align-self: center; /* 수직 가운데 정렬 */
    opacity: 0.5;
}



.info-section {
    padding: 50px 0;
    background-color: white; /* 섹션 배경색 */
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}

.info-box {
    width: 45%;
    padding: 20px;
    border-radius: 15px;
    color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.cyan-box {
    background-color: #00c3d7;
    margin-bottom: 100px;
}

.blue-box {
    background-color: #0096ff;
    margin-left: 40px;
    margin-right: 40px;
}

.image-box {
    width: 30%;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    opacity: 0.8; /* 투명도 조절 */
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-box, .image-box {
        width: 100%;
        margin-bottom: 20px;
    }

    .info-box {
        margin-bottom: 20px;
    }
}

/* 기존 features-section을 위한 CSS */
.features-section {
    text-align: center;
    padding: 40px;
    background-color: #F4F9FD;
}
.features-section{
    background-color: white; /* 섹션 배경색 */
}
.features-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center; /* 제목 중앙 정렬 */
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}

.features-section .matchd-blue {
    color: #4580F6;
}

.features-section .highlight-blue {
    color: #00AEEF;
}

.features-container {
    display: flex;
    flex-wrap: wrap; /* 항목들이 화면에 맞게 줄 바꿈 */
    justify-content: space-between; /* 항목들 사이에 여백을 균등하게 배치 */
    gap: 20px; /* 항목들 사이의 간격 */
    margin-top: 30px;
}

.feature-item {
    /* 카드 스타일 제거 */
    text-align: center; /* 내용 중앙 정렬 */
    flex: 1 1 calc(25% - 20px); /* 각 항목이 4개로 나열되도록 설정 */
    box-sizing: border-box; /* 패딩과 테두리가 요소의 너비에 포함되도록 설정 */
}

.feature-item img {
    max-width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조정됨 */
    height: 50%; /* 이미지의 비율 유지 */
    margin-bottom: 10px; /* 이미지와 텍스트 간의 간격 */
}

.feature-item h2 {
    font-size: 1.5rem; /* 제목 폰트 크기 조정 */
    margin-bottom: 10px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}

.feature-item p {
    font-size: 18px;
    color: #666;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}
.info-box, .feature-item {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* 화면에 요소가 보일 때 등장하는 애니메이션 */
.info-box.visible, .feature-item.visible {
    opacity: 1;
    transform: translateY(0);
}


/* 추가적인 반응형 디자인 설정 */
@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
        align-items: center;
    }
}

footer {
    background-color: rgb(249, 249, 249); /* 푸터의 배경색을 변경 */
    color: #666; /* 푸터의 텍스트 색상을 회색으로 설정 */
    padding: 50px 0; /* 푸터의 위아래 패딩 */
    text-align: center; /* 모든 텍스트를 가로로 정렬 */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* 왼쪽과 오른쪽 정렬 */
    border-bottom: 1px solid #ccc; /* 각 섹션 사이의 구분선 */
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}

.footer-section {
    flex: 1;
    margin: 0 20px; /* 좌우 여백 추가 */
}

.footer-section h2 {
    color: #666; /* 섹션 제목의 색상 */
    font-size: 18px; /* 섹션 제목의 폰트 크기 */
    margin-bottom: 10px; /* 섹션 제목과 내용 사이의 간격 */
}

.footer-section p {
    font-size: 14px; /* 섹션 내용의 폰트 크기 */
    line-height: 1.5; /* 섹션 내용의 줄 간격 */
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px; /* 각 링크 항목 사이의 간격 */
}

.footer-section ul li a {
    color: #666; /* 링크 텍스트의 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.footer-section ul li:last-child {
    margin-bottom: 20px; /* 마지막 링크 항목과 내용 사이의 간격을 크게 설정 */
}.footer-bottom {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-left: 20px;
    margin-bottom: 20px;
    padding-top: 20px; /* 푸터 하단과 내용 사이의 간격 */
    border-top: 1px solid #ccc; /* 푸터 상단 경계선 */
    font-size: 12px; /* 푸터 하단 텍스트의 폰트 크기를 줄임 */
}

.footer_logo {
    width: 200px; /* 원하는 너비로 조절 */
    height: auto; /* 비율을 유지하면서 높이를 자동 조절 */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 20px; /* 텍스트와의 간격 조절 */
    margin-left: 100px;
}

.footer-text {
    margin-left: auto; /* 나머지 공간을 차지하여 오른쪽 끝으로 이동 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    margin-right: 100px;
}

.footer-bottom p {
    margin: 5px 0; /* 각 텍스트 사이의 간격 설정 */
    width: 100%; /* 부모 요소의 전체 너비를 차지 */
    font-size: 12px;
}

a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 부모 요소의 텍스트 색상을 상속하여 링크 색상을 텍스트 색상으로 설정 */
}



/* 햄버거 메뉴 */
.mobile-header {
    display: none; /* 기본적으로 모바일 헤더 숨김 */
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none; /* 기본적으로 햄버거 메뉴 숨김 */
    flex-direction: column;
    cursor: pointer;
    z-index: 11;
}

.hamburger-menu span {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
}
.sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px; /* 닫기 버튼과 사용자 링크 간의 간격 */
}
.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 사이드바 헤더와 내용 간의 간격 */
}
.sidebar .outfind2 {
    font-size: 18px;
    font-weight: 600;
    color: black; /* Desired color */
    display: flex;
    align-items: center; /* Vertically center-align text */
    margin-top: 5px;
    font-family: 'Noto Sans KR', sans-serif; /* 첫 번째 텍스트의 글꼴 설정 */

}
.sidebar {
    position: fixed;
    top: 0;
    right: 0; /* 사이드바의 오른쪽 끝을 화면의 오른쪽 끝과 맞추기 */
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(24, 24, 24, 0.5);
    transition: transform 0.4s ease, opacity 0.4s ease; /* 애니메이션 속성 */
    transform: translateX(100%); /* 사이드바를 화면 오른쪽으로 이동 */
    opacity: 0; /* 사이드바 초기 상태는 투명 */
    z-index: 10000;
    padding: 20px;
    flex-direction: column;
}

/* 사이드바 활성화 시 오른쪽에서 화면 안으로 들어옴 */
.sidebar.active {
    transform: translateX(0); /* 사이드바가 화면 안으로 이동 */
    opacity: 1; /* 사이드바가 불투명해짐 */
}

.sidebar-close {
    position: relative;
    color: #666;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transition: right 0.4s ease; /* 애니메이션 속성: right값 변화에 애니메이션 부여 */
    z-index: 10003; /* 닫기 버튼이 항상 클릭될 수 있도록 z-index를 높게 설정 */
}



/* 네비게이션 링크 */
.sidebar .nav-links,
.sidebar .user-links {
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

/* 링크 항목 */
.sidebar .nav-links li,
.sidebar .user-links li {
    margin-bottom: 15px; /* 각 항목 간의 간격 */
}

/* 링크 스타일 */
.sidebar .nav-links a,
.sidebar .user-links a {
    color: #007bff; /* 브랜드 색상 또는 블루 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 16px; /* 적당한 폰트 사이즈 */
    font-weight: 500; /* 가벼운 굵기 */
    display: block; /* 블록으로 변경하여 클릭 영역 확대 */
    transition: color 0.3s ease; /* 색상 변경 애니메이션 */
}

.sidebar .nav-links a:hover,
.sidebar .user-links a:hover {
    color: #0056b3; /* 호버 시 색상 변경 */
}

/* 로그인, 회원가입 등의 버튼 스타일 */
.sidebar .user-links .login-link a,
.sidebar .user-links .signup-link a,
.sidebar .user-links .mypage-link a,
.sidebar .user-links .logout-link a{
    background-color: #f4f4f4;
    color: #666; /* 버튼 텍스트 색상 */
    padding: 10px 15px; /* 버튼 패딩 */
    border-radius: 5px; /* 둥근 모서리 */
    text-align: center;
    display: block;
    font-weight: 600;
}
.sidebar-match-button {
    margin-top: auto; /* 버튼을 사이드바 하단에 위치하도록 설정 */
    padding: 15px; /* 버튼 내부 여백 */
    background-color: #007bff; /* 버튼 배경 색상 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    text-align: center; /* 버튼 텍스트 중앙 정렬 */
}

.sidebar-match-button a {
    color: #fff; /* 버튼 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    font-size: 16px; /* 폰트 크기 */
    font-weight: bold; /* 폰트 굵기 */
    display: block; /* 버튼 영역 전체를 클릭 가능하게 */
}

.sidebar-match-button a:hover {
    background-color: #0056b3; /* 호버 시 버튼 배경 색상 변경 */
    color: #fff; /* 호버 시 버튼 텍스트 색상 유지 */
}
.sidebar .user-links .login-link a:hover,
.sidebar .user-links .signup-link a:hover,
.sidebar .user-links .mypage-link a:hover,
.sidebar .user-links .logout-link a:hover{
    background-color: #ddd; /* 버튼 호버 색상 */
}
.sidebar .nav-links a{
        display: block;
        color: #333;
        text-decoration: none;
        padding: 10px 0;
}
.sidebar .nav-links a:hover{
    background-color: #ddd;
}

.sidebar-close {
    position: absolute; /* 절대 위치 지정 */
    top: 20px; /* 상단에서 20px 떨어진 위치 */
    right: 20px; /* 오른쪽에서 20px 떨어진 위치 */
    font-size: 32px; /* 버튼의 글자 크기 조정 */
    color: #000; /* 버튼의 글자 색상 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 커서 모양 변경 */
    z-index: 10001; /* 사이드바보다 위에 배치되도록 z-index 조정 */
    transition: color 0.3s; /* 글자 색상 전환 효과 */
}

.sidebar-close:hover {
    color: #666; /* 마우스 오버 시 색상 변경 */
}
/* 모바일 스타일 */
@media (max-width: 768px) {
    .mobile-header {
        display: flex; /* 모바일 헤더 표시 */
        padding: 10px 20px;
    }
    .outfind {
        display: none;
    }
    .sidebar {
        display: block; /* 모바일 화면에서는 사이드바 표시 */
        right: 0; /* 사이드바가 화면 끝에 맞춰짐 */
        transform: translateX(100%); /* 사이드바를 화면 오른쪽으로 이동 */
    }
    .sidebar .nav-links{
        margin-top: 30px;
    }

    .hamburger-menu {
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: 40px;
    }
    .outfind2 {
        color: #000;
        font-family: 'Noto SansKR', sans-serif;
        font-weight: bold;
        font-size: 20px;
    }

    header .nav-links,
    header .user-links {
        display: none; /* 기본적으로 숨김 */
    }
    .sidebar .nav-links,
    .sidebar .user-links {
        display: block; /* 모바일에서 사이드바 내의 링크 표시 */
    }

    /* 사이드바가 활성화되었을 때만 보이도록 설정 */
    .sidebar.active .nav-links,
    .sidebar.active .user-links {
        display: block; /* 사이드바가 활성화되면 표시 */
    }
  
}

@media screen and (max-width: 1200px) {
    .nav-links {
        display: none; /* 작은 화면에서는 네비게이션 링크를 숨김 */
    }
}

@media screen and (max-width: 200px) {
    .nav-links li {
        display: none; /* 작은 화면에서는 nav link를 숨김 */
    }
}
@media (min-width: 769px) {
    .mobile-header {
        display: none; /* 데스크탑 해상도에서 모바일 헤더 숨김 */
    }
    .sidebar {
        display: none; /* 데스크탑 화면에서는 사이드바 숨김 */
    }
}
