header {
    background-color: #ffffff; /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글씨색을 검은색으로 설정 */
    text-align: center;
    height: 70px; /* 헤더의 높이를 70px로 설정 */
    padding: 0;
    margin-bottom: 20px;
}

.outfind {
    text-decoration: none;
    font-size: 24px; /* 로고 텍스트의 크기 */
    font-weight: bold; /* 로고 텍스트의 굵기 */
    color: #000000; /* 로고 텍스트의 색상 */
    position: absolute; /* 로고를 절대적으로 위치시킴 */
    top: 10px; /* 헤더의 상단에 로고를 배치 */
    left: 30px; /* 헤더의 왼쪽에 로고를 배치 */
    margin-top: 10px;
}

nav {
    display: flex;
    position: absolute; /* 네비게이션을 절대적으로 위치시킴 */
    top: 20px; /* 헤더의 상단에 네비게이션을 배치 */
    right: 0px; /* 헤더의 오른쪽에 네비게이션을 배치 */
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: center;
    display: flex; /* 네비게이션 메뉴를 수평 정렬하기 위해 Flexbox를 사용 */
    align-items: center; /* 수직 정렬을 맞추기 위해 추가 */
    margin-right: 600px;

}

.nav-links li {
    margin-right: 10px; /* 각 항목 사이의 간격 설정 */
}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: #000000; /* 링크 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 30px;
}

.nav-links li a::after {
    content: "|"; /* 각 항목 사이에 짝대기 추가 */
    margin-left: 20px; /* 짝대기와 텍스트 사이의 간격 설정 */
}

.nav-links li:last-child a::after {
    content: none; /* 마지막 항목의 짝대기 제거 */
}

nav ul li a:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}
body {
    margin: 0;
    padding: 0;
    background-color: #F4F9FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* 더 현대적인 글꼴 사용 */
}
.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px); /* 헤더 높이만큼 뺀 높이 설정 */
}
